/*Primeiras configurações*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
 background-color: rgb(84, 128, 170);
 border: rgb(255, 255, 255) solid 3px;
 margin: 20 auto;
}
p{
   text-align: center;
   color:rgb(121, 33, 48)
}
form{ 
    text-align: center;
    color:rgb(22, 5, 31)
}
h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0c0b0b;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
h2{
    font-size: 20px;
}
p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
form {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
 /*Estrutura do menu*/

   #bodyindex 
    nav {
      max-width: 1200px;
      margin: 0 auto;
  }
  
  nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0.5rem 1rem;
      flex-wrap: wrap;
  }
  
  nav ul li {
      margin: 0 1rem;
  }
  
  nav ul li img.banner {
      height: 70px;
      margin-right: 1rem;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #222;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
      background-color: #222;
      color: white;
  }
  /*Estrutura do Rodapé*/
  .banner { 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('./Icones/imgbanner.jpeg.jpeg') center 30%/cover no-repeat;
    height: 100px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  } 